<form class="example-form">
    <div class="dialog-content">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="mdi mdi-alert mdi-48px"></div>
                <mat-card-title>{{data.titre}}</mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="action-container">
        <span><button mat-raised-button color="primary" (click)="onSubmit()">Valider</button></span>
        <span><button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button></span>
    </div>
</form>