<h3 mat-dialog-title>{{data.titre}}</h3>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()" novalidate>
    <div class="example-form">
      <mat-form-field class="element">
        <input matInput placeholder="Désignation" type="text" required [(ngModel)]="model.designation"
          name="designation">
      </mat-form-field>

      <mat-form-field class="element">
        <mat-select matInput placeholder="Type" required [(ngModel)]="model.type" name="type">
          <mat-option *ngFor="let tpe of constanceService.typesAssurance" [value]="tpe.id">
            {{tpe.designation}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="action-container">
      <span><button mat-raised-button type="submit" color="primary">Valider</button></span>
      <span><button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button></span>
    </div>
  </form>
</div>
