.card {
    min-width: 80%;
    height   : 450px;
}

.example-container {
    display       : flex;
    flex-direction: column;
    max-height    : 300px;
    min-width     : 60%;
    overflow      : auto;
}

a {
    cursor: pointer;
}

.example-card {
    width     : 250px;
    max-height: 40px;
}

.example-header-image {
    background-image: mdi-microscope;
    background-size : cover;
}

.mat-radio-button {
    margin: 10px;
}

.example-radio-group-label {
    background-color: rgb(93, 223, 158);
}

.date-pickers {
    margin-top: 0px;
}

.columns {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    height         : 300px;
}

.example-form {
    display       : flex;
    flex-direction: column;
    margin-right  : 15px;
    width         : 98%
}

.action-container {
    margin-top: 10px;
}

.progress {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    width          : 100%;
}

mat-progress-bar {
    width: 82%;
}