.item {
  height: 20px;
}

.item:hover {
  background-color: rgb(59, 56, 219);
  color: beige;
}

.item:active {
  background-color: rgb(247, 161, 122);
  color: beige;
}

.sub-item {
  background-color: rgb(223, 226, 241);
  color: rgb(48, 81, 226);
}

.sub-item:hover {
  background-color: rgb(136, 240, 179);
  color: rgb(48, 81, 226);
}


mat-expansion-panel {
  margin: 0;
  background-color: rgb(59, 56, 219);
  color: beige;
}

mat-expansion-panel-header {
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(59, 56, 219);
}

mat-accordion {
  display: flex;
  flex-direction: column;
  background-color: rgb(59, 56, 219);
}
