<h3 mat-dialog-title>{{data.titre}}</h3>
<div mat-dialog-content>
    <form (ngSubmit)="onSubmit()" novalidate>
        <div class="example-form">
            <mat-form-field class="element">
                <input matInput placeholder="Identifiant" type="text" required [(ngModel)]="model.login"
                    name="login">
            </mat-form-field>

            <mat-form-field class="element"> 
                <input matInput placeholder="mot de passe" type="password" required
                    [(ngModel)]="model.password" name="password">
            </mat-form-field>

            <mat-form-field class="element">
                <mat-select matInput placeholder="Type d'utilisateur" required [(ngModel)]="userTypeId" name="userType">
                    <mat-option *ngFor="let type of userTypes" [value]="type.id">
                        {{type.designation}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="element"> 
                <input matInput placeholder="Nom de l'utilisateur" type="text" required
                    [(ngModel)]="userName" name="userName">
            </mat-form-field> 
        </div>
    </form>
    <div class="action-container">
        <span><button mat-raised-button color="primary" (click)="onSubmit()">Valider</button></span>
        <span><button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button></span>
    </div>
</div>