<div class="main">
  <header>
    <app-menu></app-menu>
    <app-principal-menu *ngIf="authService.isAuthenticated"></app-principal-menu>
  </header>
  <div class="container" [ngStyle]="{'height.px':viewHeight}" #wrapper *ngIf="authService.isAuthenticated">
    <aside>
      <app-establishment-menu *ngIf="constanceService.currentMenu.id===constanceService.etablissement.id">
      </app-establishment-menu>
      <app-evaluation-trim-menu *ngIf="constanceService.currentMenu.id===constanceService.evaluations.id">
      </app-evaluation-trim-menu>
      <app-exam-menu *ngIf="constanceService.currentMenu.id===constanceService.exams.id">
      </app-exam-menu>
      <app-compta-menu *ngIf="constanceService.currentMenu.id===constanceService.comptabilite.id">
      </app-compta-menu>
      <app-biblio-menu *ngIf="constanceService.currentMenu.id===constanceService.bibliotheque.id">
      </app-biblio-menu>
      <app-planning-menu *ngIf="constanceService.currentMenu.id===constanceService.planning.id">
      </app-planning-menu>
      <app-cantine-menu *ngIf="constanceService.currentMenu.id===constanceService.cantine.id">
      </app-cantine-menu>
    </aside>
    <div class="content">
      <app-progress></app-progress>

      <router-outlet></router-outlet>
    </div>
  </div>
  <footer *ngIf="authService.isAuthenticated">
    <div> @ {{thisEstablishmentName}}</div>
  </footer>
</div>
