<h3 mat-dialog-title>{{data.titre}}</h3>
<div mat-dialog-content>
    <form class="example-form" (ngSubmit)="onSubmit()">
        <mat-tab-group mat-align-tabs="end" [ngStyle]="{ color: 'purple', 'height.px': viewHeight }">
            <mat-tab label="Identité">
                <mat-form-field class="element">
                    <input textarea matInput placeholder="Nom" type="text" required
                        [(ngModel)]="model.identity.lastName" name="lastName">
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput placeholder="Prenoms" required [(ngModel)]="model.identity.firstName"
                        name="firstName">
                </mat-form-field>

                <mat-form-field class="element">
                    <mat-select matInput placeholder="Sexe" required [(ngModel)]="model.identity.sex" name="sex">
                        <mat-option *ngFor="let item of constanceService.sexes" [value]="item.id">
                            {{item.intitule}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="element">
                    <mat-select matInput placeholder="Civilité" required [(ngModel)]="model.identity.civility"
                        name="civility">
                        <mat-option *ngFor="let item of civilityService.civilities" [value]="item.id">
                            {{item.intitule}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput placeholder="Age" [(ngModel)]="model.identity.age"
                        (ngModelChange)="calculateBirthYear()" name="age">
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput [matDatepicker]="picker1" placeholder="Date de naissance (jj/mm/aaaa)"
                        [(ngModel)]="model.identity.birthday" (ngModelChange)="calculateAge()" name="birthday">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>


                <mat-form-field class="element">
                    <input matInput placeholder="Lieu de naissance" [(ngModel)]="model.identity.birthCity"
                        name="birthCity">
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput placeholder="Préf. de naissance" [(ngModel)]="model.identity.birthDepartment"
                        name="birthDepartment">
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput placeholder="Pays de naissance" [(ngModel)]="model.identity.birthCountry"
                        name="birthCountry">
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput placeholder="Nationalité" [(ngModel)]="model.identity.nationality"
                        name="nationality">
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput placeholder="Tél. 1" [(ngModel)]="model.address.tel1" name="tel1">
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput placeholder="Tél. 2" [(ngModel)]="model.address.tel2" name="tel2">
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput placeholder="email" [(ngModel)]="model.address.email" name="email">
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput placeholder="Quartier" [(ngModel)]="model.address.street" name="street">
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput placeholder="Ville" [(ngModel)]="model.address.city" name="city">
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput placeholder="Pays" [(ngModel)]="model.address.country" name="country">
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput [matDatepicker]="picker2" placeholder="Date d'entrée (jj/mm/aaaa)"
                        [(ngModel)]="model.inscriptionInfo.entryDate" name="entryDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="element">
                    <input matInput [matDatepicker]="picker3" placeholder="Date de sortie (jj/mm/aaaa)"
                        [(ngModel)]="model.inscriptionInfo.leavingDate" name="leavingDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
            </mat-tab>

            <mat-tab label="Visibilité">
                <div class="image_container" [ngStyle]="{ color: 'purple', 'height.px': viewHeight }">
                    <div class="image">
                        <div class="image_title">Signature</div>
                        <img [src]="signatureURL | safeHtml" alt="image" class="image_entete" />
                        <div class="image_name mdi mdi-pencil mdi-24px" (click)="onChooseSignature()"></div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

        <div class="action-container">
            <span><button mat-raised-button color="primary" type="submit">Valider</button></span>
            <span><button mat-raised-button color="warn" (click)="onNoClick()" type="button">Annuler</button></span>
        </div>
    </form>
</div>